*{
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: beige;
}

.badge{
  padding: 0.3em 1em;
  font-size: 1.5em;
  max-width: 200px;
  font-family: "Inter";
  background-color: yellowgreen;
  margin-bottom: 0.5em;
  text-align: center;
}

.badge.square{
  border-radius: 5px;
}

.badge.pill{
  border-radius: 20px;
}

.badge.gray{
  color: #1F2937;
  background-color: #F3F4F6;
}

.badge.red{
  color: #991B1B;
  background-color: #FEE2E2;
}

.badge.yellow{
  color: #92400E;
  background-color: #FEF3C7;
}

.badge.green{
  color: #065F46;
  background-color: #D1FAE5;
}

.badge.blue{
  color: #1E40AF;
  background-color: #DBEAFE;
}

.badge.indigo{
  color: #3730A3;
  background-color: #E0E7FF;
}

.badge.purple{
  color: #5B21B6;
  background-color: #EDE9FE;
}

.badge.pink{
  color: #9D174D;
  background-color: #FCE7F3;
}


/* Banner */

.banner{
  font-family: "Inter";
  padding: 1em 1.5em;
  width: 600px;
  font-size: 0.6em;
  background-color: #EFF6FF;
  display: flex;
  flex-direction: column;
}

.banner > .header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo, .title{
  margin-right: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner > .banner-content{
  margin-top: 0.8em;
  margin-left: 1.8em;
}

/* Banner Success */

.banner.success{
  background-color: #ECFDF5;
}

.logo.success{
  color: #34D399;
}

.title.success{
  color: #065F46;
}

.banner-content.success{
  color: #047857;
}

/* Banner Warning */

.banner.warning{
  background-color: #FFFBEB;
}

.logo.warning{
  color: #FBBF24;
}

.title.warning{
  color: #92400E;
}

.banner-content.warning{
  color: #B45309;
}

/* Banner Error */

.banner.error{
  background-color: #FEF2F2;
}

.logo.error{
  color: #F87171;
}

.title.error{
  color: #92400E;
}

.banner-content.error{
  color: #B45309;
}

/* Banner Neutral */

.banner.neutral{
  background-color: #EFF6FF;
}

.logo.neutral{
  color: #60A5FA;
}

.title.neutral{
  color: #1E40AF;
}

.banner-content.neutral{
  color: #1C51B9;
}